body {
  width: 300px;
  margin: 50px auto;
  font-family: Sans-Serif;
}

#checkout {
  background: #6633ee;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  margin-top: 24px;
}

.toast-container {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
}

.toast {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: #6633ee;
  color: #ffffff;
  animation: showToast 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  border-radius: 5px;
}

@keyframes showToast {
  0%, 100% {
    transform: translateY(-150%);
    opacity: 0
  }
  10%, 90% {
    transform: translateY(0);
    opacity: 1
  }
}