cryptography==41.0.4
evervault==3.0.1
evervault_attestation_bindings==0.2.0
Flask==2.2.5
Jinja2==3.1.2
PassportEye==2.2.1
pdfminer==20191125
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.17
pyparsing==3.0.9
pytesseract==0.3.10
urllib3==1.26.17
Werkzeug==2.2.3
zipp==3.15.0
